<!-- Placeholder for child template header declarations -->

        <div id="hl7-nav">
          <a id="hl7-logo" no-external="true" href="http://hl7.org">
            <img height="50" alt="Visit the HL7 website" src="{{site.data.info.assets}}assets/images/hl7-logo-header.png"/>
          </a>
        </div>
        <div id="family-nav">
          <a id="family-logo" no-external="true" href="http://hl7.org/fhir"><img height="50" alt="Visit the FHIR website" src="{{site.data.info.assets}}assets/images/fhir-logo-www.png"/> </a>
        </div>
        <div id="hl7-search">
          <a id="hl7-search-lnk" no-external="true" href="http://hl7.org/fhir/search.cfm"><img alt="Search FHIR" src="{{site.data.info.assets}}assets/images/search.png"/></a>
        </div>

        <div id="project-nav">
          <a id="project-logo" no-external="true" href="http://hl7.org/about/davinci"><img height="55" alt="Visit the Da Vinci website" src="{{site.data.info.assets}}assets/images/da-vinci_logo.jpg"/> </a>
        </div>