---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->

  {% include fragment-base-navtabs.html type='MeasureReport' id='summ-medicare-stratification-example' active='content' %}

  <a name="root"> </a>
{% if site.data.artifacts[page.path].example %}
  {% assign example = 'Example ' %}
{% endif %}
{% assign prefix = site.data.artifacts[page.path].type %}
  <h2 id="root">{{example}}{{prefix}}: {{site.data.pages[page.path].title}}</h2>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='MeasureReport' id='summ-medicare-stratification-example' %}

  {% include MeasureReport-summ-medicare-stratification-example-html.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='MeasureReport' id='summ-medicare-stratification-example' %}

</div>
{% include fragment-pageend.html %}
