<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Framework<b class="caret">
      </b> <!-- Da Vinci Individual Measures Use Cases -->
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="guidance.html">General Guidance</a>
      </li>
      <li>
        <a href="datax.html">Data Exchange</a>
      </li>
      <li>
        <a href="indv-reporting.html">Individual Reporting</a>
      </li>
      <li>
        <a href="summary-reporting.html">Summary Reporting</a>
      </li>
      <li>
        <a href="gaps-in-care-reporting.html">Gaps in Care Reporting</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Example Use Cases<b class="caret">
      </b> <!-- Da Vinci Individual Measures Use Cases -->
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="mrp.html">Medication Reconciliation (MRP)</a>
      </li>
      <li>
        <a href="col.html">Colorectal Cancer Screening (COL)</a>
      </li>
      <li>
        <a href="vte1.html">Venous Thromboembolism Prophylaxis (VTE-1)</a>
      </li>
      <li>
        <a href="gaps-examples.html">Gaps In Care Example Use Cases</a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">FHIR Artifacts<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">

      <!--
<li>
  <a href="operations.html">Operations</a>
</li>
-->

      <li>
        <a href="profiles.html">Profiles/Extensions</a>
      </li>
      <li>
        <a href="operations.html">Operations</a>
      </li>
      <li>
        <a href="terminology.html">Terminology</a>
      </li>
      <li>
        <a href="capstatements.html">CapabilityStatements</a>

      </li>
    </ul>
  </li>
  <!--
<li>
  <a href="security.html">Security</a>
</li>
-->
  <li>
    <a href="all-examples.html">Examples</a>
  </li>

  <li>
    <a href="downloads.html">Downloads</a>
  </li>

  <li>
    <a href="change-notes.html">Change Notes</a>
  </li>
</ul>
